body{
    background-color: lightgreen;
    padding: 20px;
    border-radius: 8px solid;
     border: 20px solid ;
     color: red;
     font-family: 'Times New Roman', Times, serif;
}

.mb-4 {
    font-size: 50px;
    font-style: italic;
}
.mb-4{
    font-size: 20px;
    font-style: italic;
    
}



.btn34{
    font-size: 50px;
    font-style: italic;
    text-align: center;
}


.moving{
    width: 100px;
    height: 50px;
}